<div class="container my-5">
  <div class="row">

    <div class="col-12 mt-3 text-center">
      <h2 class="font-weight-bold animate__animated animate__fadeInDown">Онлайн обучение</h2>
      <hr class="animate__animated animate__fadeInUp" />
    </div>

    <div class="col-md-12">

      <p>Всички предлагани курсове, индивидуални или групови, се предлагат и онлайн.
        За представяне на учебния материал се използва дигитална бяла дъска  и онлайн платформа <b>https://meet.google.com/</b>  или <b>https://meet.jit.si/ </b>.
        <br/>
        С помощта на тези съвременни средства за преподаване контактът между курсист и преподавател е като на живо.
      </p>
    </div>

  </div>
</div>

