<div class="container">
  <section class="header">
    <div class="wrapper col-12 p-5 text-center">
      <h2 class="heading-cta animate__animated animate__backInDown">Добре дошли в учебен център Експонента!<br />Ще се радваме да се запознаем и да предложим услугите си!
      </h2>
      <a href="javascript:void(0);"
         class="main-button orrange-button animate__animated animate__fadeIn"
         (click)="services.scrollIntoView()">
        Какво предлагаме
      </a>
    </div>
  </section>

  <!--***********************************-->
  <section #services class="services" id="services">
    <div class="wrapper col-12">
      <h2 class="section-heading first-heading line">Услуги които предлагаме</h2>
      <h3 class="sub-heading second-heading">
        Вярваме, че ученето може да е лесно и забавно.
        Чудесата се случват и те са реални в Учебен Център Експонента!
        Затова нашите ученици получават едно по-различно обучение.
        С избор от индивидуално или курсово, офлайн или онлайн!
      </h3>
      <div class="row p-5 clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 float-left service-cols">
          <div class="service-image">
            <img src="./assets/img/kids-students.jpg">
          </div>
          <div class="service-info">
            <h3 class="service-heading">Курсове за ученици</h3>
            <p class="service-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 float-left service-cols">
          <div class="service-image">
            <img src="./assets/img/students.jpg">
          </div>
          <div class="service-info">
            <h3 class="service-heading">Курсове за студенти</h3>
            <p class="service-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 float-left service-cols">
          <div class="service-image">
            <img src="./assets/img/single-kid-student.jpg">
          </div>
          <div class="service-info">
            <h3 class="service-heading">Индивидуални уроци за ученици</h3>
            <p class="service-text">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 float-left service-cols">
          <div class="service-image">
            <img src="./assets/img/single-student.jpg">
          </div>
          <div class="service-info">
            <h3 class="service-heading">Индивидуални уроци за студенти</h3>
            <p class="service-text">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-5">
          <a href="javascript:void(0);"
             class="main-button orrange-button animate__animated animate__fadeIn"
             [routerLink]="['../services']">
            Виж всички услуги
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--********************************-->
  <section class="team-section" id="about">
    <div class="wrapper col-12 clearfix">
      <h2 class="section-heading first-heading line">Запознайте се с нашия прекрасен екип</h2>
      <div class="divider">
      </div>
      <h3 class="subheadding second-heading">
        Ние сме малък екип от преподаватели, като сме тук за да научите нови знания и да си вземете изпитите. ;)
      </h3>
      <div class="team-members col-md-4 col-sm-12 float-left">
        <div class="img-base"><img src="./assets/img/Anne.jpg" class="photo-star"></div>
        <h3 class="name-star">Ива Йончева-Найденова</h3>
        <p class="blue-text">CEO / Marketing Guru</p>
        <p class="member-info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        <div class="holds-buttons">
          <a href="https://facebook.com" class="face-facebook"></a>
          <a href="https://twitter.com/" class="face-twitter"></a>
          <a href="https://www.linkedin.com/" class="face-linkedin"></a>
          <a href="javascript:;" class="face-mail"></a>
        </div>
      </div>
      <div class="team-members col-md-4 col-sm-12 float-left">
        <div class="img-base"><img src="./assets/img/Kate.jpg" class="photo-star"></div>
        <h3 class="name-star">KATE UPTON</h3>
        <p class="blue-text">Creative Director</p>
        <p class="member-info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        <div class="holds-buttons">
          <a href="https://twitter.com/" class="face-twitter"></a>
          <a href="https://www.linkedin.com/" class="face-linkedin"></a>
          <a href="javascript:;" class="face-mail"></a>
        </div>
      </div>
      <div class="team-members col-md-4 col-sm-12 float-left">
        <div class="img-base"><img src="./assets/img/Olivia.jpg" class="photo-star"></div>
        <h3 class="name-star">OLIVIA WILDE</h3>
        <p class="blue-text">Lead Designer</p>
        <p class="member-info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        <div class="holds-buttons">
          <a href="https://facebook.com" class="face-facebook"></a>
          <a href="https://twitter.com/" class="face-twitter"></a>
          <a href="https://www.linkedin.com/" class="face-linkedin"></a>
          <a href="javascript:;" class="face-mail"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <a href="javascript:void(0);"
             class="main-button orrange-button animate__animated animate__fadeIn"
             [routerLink]="['../about-us']">
            Виж повече за нас
          </a>
        </div>
      </div>

    </div>
  </section>



</div>
