<div class="container">
  <div class="row">


    <div class="col-12">
      <div class="row justify-content-center">

        <div class="col-12 mt-5 text-center">
          <h2 class="font-weight-bold animate__animated animate__slideInLeft">Услуги</h2>
          <hr class="animate__animated animate__slideInRight" />
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-kids-students cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Курсове за ученици</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-students cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Курсове за студенти</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-single-kid-student cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Индивидуални уроци за ученици</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-single-student cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Индивидуални уроци за студенти</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-special-training cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Специализирани курсове</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center col-item animate__animated animate__pulse">
          <div class="mast-widget mast-summer-workshops cursor-pointer">
            <div class="w-info">
              <div class="icon-sec">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="text-sec">Лятна занималня</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
