<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo"
     routerLinkActive="active"
     routerLink="home">
    <img src="../../../../assets/logo.png" alt="Експонента" style="height: 35px">
  </a>

  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
<!--      <div class="hori-selector"><div class="left"></div><div class="right"></div></div>-->
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="services">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'shapes']" [class]="'me-1'"></fa-icon>
          Услуги
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="learning-materials">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'book-open-reader']" [class]="'me-1'"></fa-icon>
          Учебни материали
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="online-learning">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'chalkboard-user']" [class]="'me-1'"></fa-icon>
          Онлайн обучение
        </a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="about-us">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'people-group']" [class]="'me-1'"></fa-icon>
          За нас
        </a>
      </li>
    </ul>
  </div>
</nav>
