<div class="container my-5">
  <div class="row">

    <div class="col-12 mt-5 text-center">
      <h2 class="font-weight-bold animate__animated animate__fadeInDown">За нас</h2>
      <hr class="animate__animated animate__fadeInUp" />
    </div>

    <div class="col-md-8">
      <h3>Екипът на учебен център Експонента:</h3>
      <p>In fermentum nisl in urna bibendum, vitae fermentum mi efficitur. Suspendisse laoreet ipsum massa sed risus dictum consectetur. Cras consequat interdum turpis, eget tristique magna eleifend ut. Integer ornare vehicula ipsum.</p>
      <p>In fermentum nisl in urna bibendum, vitae fermentum mi efficitur. Suspendisse laoreet ipsum massa sed risus dictum consectetur. Cras consequat interdum turpis, eget tristique magna eleifend ut. Integer ornare vehicula ipsum.</p>
      <p>In fermentum nisl in urna bibendum, vitae fermentum mi efficitur. Suspendisse laoreet ipsum massa sed risus dictum consectetur. Cras consequat interdum turpis, eget tristique magna eleifend ut. Integer ornare vehicula ipsum.</p>
      <p>In fermentum nisl in urna bibendum, vitae fermentum mi efficitur. Suspendisse laoreet ipsum massa sed risus dictum consectetur. Cras consequat interdum turpis, eget tristique magna eleifend ut. Integer ornare vehicula ipsum.</p>
      <!-- Profiles -->
      <div class="row mt-5">
        <div class="col-md-4">
          <h5>Ива Йончева-Найденова</h5>
          <p>Programmer</p>
          <!-- Social Icons -->
        </div>
        <div class="col-md-4">
          <h5>Dana Carey</h5>
          <p>Web Developer</p>
          <!-- Social Icons -->
        </div>
        <div class="col-md-4">
          <h5>Bill Stratton</h5>
          <p>Lead Developer</p>
          <!-- Social Icons -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Кои сме ние
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Molestiae nam et laudantium et. Ipsum adipisci et ratione ea molestiae a. Et ducimus sed nesciunt aliquid.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Какво правим
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Consequuntur quos similique. Qui quibusdam ratione ipsa.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Нашите постижения
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Quisquam est qui dolore illo iure reprehenderit qui in ea voluptate velit esse quam nihil.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
